@font-face {
    font-family: 'Hammersmith One';
    src: url('../assets/fonts/HammersmithOne-Regular.ttf');
}

.label, .text-field, .password-field, .check-box, .button, .hyperlink{
    -fx-font-family: 'Hammersmith One';
}

.choice-box .label {
    -fx-text-fill: #0F1C36;
}

/*=========================================================*/

.blue-bg{
    -fx-background-color: #0F1C36;
}

.wt-bg{
    -fx-background-color: #F2F2F2;
}   

.white-bg{
    -fx-background-color: #F2F2F2;
    -fx-border-color: #0F1C36;
}

.btn-bgcolor{
    -fx-background-color: #4781FF;
    -fx-text-fill: #F2F2F2;
    transition: 0.2s;
}

.label-essentials{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
    transition: 0.1s;
    -fx-cursor: hand;
    -fx-font-family: 'Hammersmith One';
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.btn-bgcolor:hover{
    -fx-background-color: #3b70e4;
    -fx-text-fill: #F2F2F2;
    transition: 0.2s;
}

.grayish-bg-and-border{
    -fx-background-color: #1F293F;
    -fx-border-radius: 20px;
}

.hyperlink-color{
    -fx-text-fill: #6582F4;
    transition: 0.2s;
}

.hyperlink-color:hover{
    -fx-text-fill: #F2F2F2;
    transition: 0.2s;
}

.field-color{
    -fx-background-color: #0F1C36;
    -fx-text-fill: #F2F2F2;
    -fx-border-color: #F2F2F2;
    -fx-border-radius: 10px;
    -fx-font-size: 11px;
}

.label{
    -fx-text-fill: #F2F2F2;
}

.button-color-mainColor{
    -fx-background-color: #4781FF;
    -fx-text-fill: #F2F2F2;
    transition: 0.1s;
    -fx-cursor: hand;
    -fx-font-family: 'Hammersmith One';
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.button-color-mainColor:hover{
    -fx-background-color: #3b70e4;
    transition: 0.1s;
    -fx-cursor: hand;
    -fx-font-family: 'Hammersmith One';
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.button-color{  
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
    transition: 0.1s;
    -fx-cursor: hand;
    -fx-font-family: 'Hammersmith One';
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.button-color:hover{  
    -fx-background-color: #d0cece;
    -fx-text-fill: black;
    transition: 0.1s;
    -fx-cursor: hand;
    -fx-font-family: 'Hammersmith One';
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.text-alignment{
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #0F1C36;
    -fx-font-size: 13px;
    -fx-font-family: "Hammersmith One";
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-table-cell-border-color: #0F1C36;
    -fx-border-color: #0F1C36;
}

.table-view .placeholder .label{
    -fx-text-fill: #0F1C36;
}

.table-view .column-header .label {
    -fx-text-fill: #0F1C36;
    -fx-font-weight: bold;
    fx-border-color: #F2F2F2;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-border-color: #0F1C36;
    -fx-border-width: 0 1 1 0;
    -fx-background-color: #F2F2F2;
}

.table-view .column-header:last-child,
.table-view .table-cell:last-child {
    -fx-border-width: 0 0 1 0;
}

/*=========================================================*/

.white-txt{
    -fx-text-fill: #F2F2F2;
}

.calendar-date{
    -fx-text-fill: #F2F2F2;
    text-align: center;
}

.blue-txt{
    -fx-text-fill: #4781FF;
}

.dark-bg{
    -fx-background-color: #0F1C36;
}

.btn-settings-edit{
    -fx-background-color: #0F1C36;
    -fx-text-fill: #F2F2F2;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    transition: 0.2s;
}

.btn-settings-edit:hover{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #0F1C36;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    transition: 0.2s;
}

/*=========================================================*/

.dark-bg{
    -fx-border-color: #0F1C36;
}

.aligningtext{
    -fx-alignment: center;
}
/* ------------------------ Settings Design ------------------------ */
.button-color-settings{  
    -fx-background-color: #F2F2F2;
    -fx-alignment: center;
    -fx-font-family: 'Hammersmith One';
    -fx-text-fill: black;
    -fx-cursor: hand;
    transition: 0.1s;
}

.button-color-settings:hover{  
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-family: 'Hammersmith One';
    -fx-cursor: hand;
    transition: 0.1s;
}
/* ------------------------------------------------------------------- */